<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="PFX11Connection" value="data source=VDBDN319\axpoit;initial catalog=PFX11;persist security info=True;user id=PFX11User ;password=AdmUserPFX11;Pooling=true;MultipleActiveResultSets=true;" />
 
  </appSettings>

</configuration>